<header id="header" class="header d-flex align-items-center sticky-top">
  <div class="container-fluid container-xl position-relative d-flex align-items-center">

   

    <nav id="navmenu" class="navmenu">
      <ul>
        <li><a routerLink="/" class="active">🏠 Home</a></li>
        <li><a routerLink="/residences">🏢 Residences</a></li>
        <li><a routerLink="/apartments">🏠 Apartments</a></li>
      </ul>
      <i class="mobile-nav-toggle d-xl-none bi bi-list"></i>
    </nav>

    <a class="btn-getstarted" routerLink="/courses">login</a>

  </div>
</header>
