<main class="main">

    <!-- Hero Section -->
    <section id="hero" class="hero section dark-background">
      <!-- Background Image -->
      <img src="assets/images/apartment-background-cqslqr1i651vkk01.jpg" alt="Apartment Background" class="img-fluid" data-aos="fade-in">
  
      <div class="container">
        <h2 data-aos="fade-up" data-aos-delay="100">Find Your Perfect Apartment,<br>Start Your Journey Here</h2>
        <p data-aos="fade-up" data-aos-delay="200">Explore our wide range of apartments designed to fit your needs and lifestyle. Whether you're looking for a cozy studio or a spacious family apartment, we have something for everyone.</p>
        
      
      </div>
  
    </section><!-- /Hero Section -->
  
  </main>
  